<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MyStore-ListArticles</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
		integrity="sha384-
		5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
		crossorigin="anonymous">
  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
		<div th:replace="fragments/header :: header" />
		
		<main id="main" class="main">
		<section class="section dashboard">
	      <div class="row">
		      <div class="col-lg-8">
		      	<div class="row">
		      		<div class="col-12">
		              <div class="card top-selling overflow-auto">
		
		                <div class="filter">
		                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
		                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
		                    <li class="dropdown-header text-start">
		                      <h6>Filter</h6>
		                    </li>
		
		                    <li><a class="dropdown-item" href="#">Today</a></li>
		                    <li><a class="dropdown-item" href="#">This Month</a></li>
		                    <li><a class="dropdown-item" href="#">This Year</a></li>
		                  </ul>
		                </div>
	
		                <div th:switch="${articles}" class="card-body pb-0">
		                  <h5 class="card-title">Our Articles | <span th:text="${nbr}"></span></h5>
							<div class="container my-5">
								<p class="my-5">
									<a th:href="@{'/article/add/'}" class="btn btn-primary"><i class="fas fa-user-plus ml-2"></i>Add Article</a>	
								</p>
								<h2 th:case="null">No Article yet!</h2>
								<div th:case="*">
				                  <table class="table table-borderless">
				                    <thead>
				                      <tr>
				                      	<th scope="col"><a>Label</a></th>
										<th scope="col"><a>Price</a></th>
										<th scope="col"><a>Provider</a></th>
										<th scope="col"><a>Show</a></th>
										<th scope="col"><a>Edit</a></th>
										<th scope="col"><a>Delete</a></th>
				                      </tr>
				                    </thead>
				                    <tbody>
				                      <tr th:each="article : ${articles}">												
				                        <td th:text="${article.label}"><a href="#" class="text-primary fw-bold"></a></td>
				                        <td th:text="${article.price}"></td>
				                        <td th:text="${article.provider.name}" class="fw-bold"></td>
				                        <td class="text-center"><a th:href="@{/article/show/{id}(id=${article.id})}" class="btn btn-info">
										<i class="ri-list-unordered"></i></a></td>
				                      	<td>
				                      		<a th:href="@{/article/edit/{id}(id=${article.id})}"  class="btn btn-primary">
												<i class="fas fa-user-edit ml-2"></i>
											</a>
										</td>
				                      	<td>
				                      		<a th:href="@{/article/delete/{id}(id=${article.id})}"  class="btn btn-danger">
												<i class="fas fa-user-times ml-2"></i>
											</a>
										</td>
				                      </tr>
				                      
				                    </tbody>
				                  </table>
								</div>
							</div>
		                </div>
	              </div>
	            </div>
		      	</div>
		      </div>
		     </div>
		</section>
	</main>
	
	
	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <!-- Vendor JS Files -->
  <script src="/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/chart.js/chart.min.js"></script>
  <script src="/vendor/echarts/echarts.min.js"></script>
  <script src="/vendor/quill/quill.min.js"></script>
  <script src="/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/vendor/tinymce/tinymce.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>
</body>
</html>
